.shadow-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    height: 180px;
    width: 180px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    cursor: pointer;
    background-color: white;
}

.item{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    cursor: pointer;
}
.buttonWrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
}

.item:hover {
    text-decoration:underline;

}

.shadowBoxNo {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    color: lightslategrey;

}
.credit{
    position: absolute;
    top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: italic;
    padding-top: 5px;
    
}
.credit span{
    color: lightslategrey;
    margin-right: 10px;
    font-size: 18px;
    font-style: normal;
}



@media (max-width: 652px) {
    .shadow-box {
        height: 140px;
        width: 140px;
    }

    #main-container {
        gap: 50px;

    }
}
@media (min-width: 1630px) {
    .shadow-box {
        height: 200px;
        width: 200px;
    }
}