body {
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  
}

ul .active {
    border-bottom: 3px solid #3264f86b;
}

nav {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 20px;
    z-index: 1;
    height: 60px;
    white-space: nowrap
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    cursor: pointer;
}

nav ul li {
    color: lightslategrey;
    border-bottom: 3px solid transparent;
    padding-bottom: 24px;
    padding-top: 30px;
    transition: all 0.5s ease;
    -webkit-transition: border-bottom 0.5s ease;
    -moz-transition: border-bottom 0.5s ease;
    -ms-transition: border-bottom 0.5s ease;
    -o-transition: border-bottom 0.5s ease;
}

nav ul li:hover {
    border-bottom: 3px solid #3265f8;

}

#nav-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: rgb(46, 110, 230);
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    cursor: pointer;
}

#artisan {
    background-image: url(../images/cssLogo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

#nav-left,
#nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-title:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

main {
    width: 100vw;
    height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: auto;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    gap: 100px;
    padding-bottom: 40px;
 
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #3265f8);
    border-radius: 6px;

}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #3264f86b);
}

footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    height:70px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* background-color: #3265f8; */
    background-color: white;
    color: lightslategrey;

}
.home{
    position: relative;
    height: calc(100vh - 190px)!important;
    /* background: linear-gradient(120deg, #3264f86b 60%, #3265f8 60%); */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.helloMsg{
    position: absolute;
    left:calc(50% - 200px);
    top:50px;
    white-space: nowrap;
    color: white;
    padding: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.homeDes{
    margin-top: 20px;
    height:100%;
    display:flex;
    align-items: center;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.hide{
    display: none;
    padding-bottom: 0!important;
}
#social{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    right: 20px;
    width: fit-content;
    height: fit-content;

}
#email,
#linked,
#git{
    height: 25px;
    width: 25px;
    background-size: contain;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    
}
#email{
    background-image: url('../images/email.png');
}
#git{
    background-image: url('../images/git.png');
}
#linked{
    background-image: url('../images/linked.png');
}
#email:hover,
#linked:hover,
#git:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
@media (min-width: 485px) {}

@media (max-width: 830px) {
    .home{
        height: calc(100vh - 220px)!important;
        font-size: 25px !important;
    }
    #nav-left {
        flex-direction: column;
    }

    nav {
        height: 90px;
        justify-content: center;
    }

    nav ul li {
        padding-bottom: 17px;
        padding-top: 0px;
        
    }

    nav ul {
        padding-left: 0;
        margin-top: 5px;
        gap: 15px;
    }

    main {
        height: calc(100vh - 110px);
    }
    .homeDes{
        font-size: 14px;
    }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    .helloMsg{
        position: absolute;
        left:50px;
        top:50px;
    }

}

@media (min-width: 1630px) {
    #main-container {
        padding: 0 100px;
        padding-bottom: 40px;
    }
    
}