body{
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: white;
    display:flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 20px;
    z-index: 1;
    height: 60px;
    white-space: nowrap
}
nav ul{
    display:flex;
    list-style: none;
    gap: 30px;
    cursor: pointer;
}
nav ul li{
    border-bottom: 3px solid transparent;
    padding-bottom: 24px;
    padding-top: 30px;
    transition: all 0.5s ease;
    -webkit-transition: border-bottom 0.5s ease;
    -moz-transition: border-bottom 0.5s ease;
    -ms-transition: border-bottom 0.5s ease;
    -o-transition: border-bottom 0.5s ease;
}
nav ul li:hover{
    border-bottom: 3px solid blueviolet;

}

#nav-title{
    display:flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
#artisan{
    background-image: url(../images/artisan.png);
    background-position: center;
    background-size: contain;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
#nav-left,
#nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-left a{
    height: 100%;
    display: flex;
    text-decoration: none;
    color:blueviolet;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}
#nav-left a:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
main{
    width: 100vw;
    height: calc(100vh - 80px);
    overflow-x:hidden;
    overflow-y:auto;
}
#main-container{
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    padding: 0 20px;
    gap: 80px;
}
@media (max-width: 652px) {
    #nav-left{
        flex-direction: column;
    }
    nav{
        height: 90px;
        justify-content: center;
    }
    nav ul li{
        padding-bottom: 16px;
        padding-top: 0px;
    }
    nav ul{
        padding-left: 0;
        gap: 15px;
    }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1220px) {}